@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
    color: #313E51;
}

.container{
    height: 80vh;
    width: 80vw;
    position: absolute;
    inset: 0;
    margin: auto;
}

.icon{
    font-size: 20px;
    color: #626C7F;
}

.main{
    display: flex;
    gap: 5rem;
    width: 100%;
}


/* Switch Button */
.toggleMode{
    display: flex;
    align-items: center;
    justify-content: end;
}
/* The switch - the box around the slider */
.switch {
  font-size: 13px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin: 0px 0.8rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #A729F5;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #fff;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

/* Heading */
.heading{
    h1{
        font-size: 5rem;
        font-weight: 300;
        margin-top: 0;
        span{
            font-weight: 500;
        }
    }
}

/* Subjects */
.subjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    
}
.topic{
    padding: 2rem 100%;
}
